[class$='app_dark_theme'] {
  --bg-color: #373a40;

  --primary-label-color: #1a1b1e;
  --primary-bg: #ffd43b;

  --primary-bg-100: #ffd485;

  --primary: #ffffff;
  --secondary: #a6a7ab;

  --light-1: #f1f1f1f1;

  --dark-1: hsla(210, 7%, 56%, 0.15);
}
