.parent {
  border: none;
  cursor: pointer;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  outline: none !important;
  background-color: transparent;
  padding: 10px 19px 10px 19px;

  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;

  &Primary {
    color: var(--primary-label-color);
    background-color: var(--primary-bg);
  }

  &Large {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--primary-bg-100);
  }
}
