.parent {
  &Title {
    font-size: 15px;
    color: var(--primary);
  }

  &List {
    display: flex;
    row-gap: 6px;
    margin: 6px 0 0 0;
    flex-direction: column;
    color: var(--secondary);
  }
}
