.parent {
  width: 100%;
  height: 40px;
  display: flex;
  column-gap: 7px;
  border-radius: 8px;
  align-items: center;
  color: var(--primary);
  padding: 0 11px 0 11px;
  background-color: var(--dark-1);
  border: 1px solid var(--secondary);

  svg {
    stroke: var(--primary);
  }

  &Button {
    cursor: pointer;
    outline: 0 !important;
    color: var(--secondary);

    &:hover {
      color: var(--primary);
    }
  }

  &Center {
    justify-content: center;
  }

  &End {
    justify-content: flex-end;
  }

  &SpaceBetween {
    justify-content: space-between;
  }

  &Uppercase {
    text-transform: uppercase;
  }
}
